---
import { getCollection } from "astro:content";
const cards = await getCollection("cards");
---

<div class="container mx-auto py-8 w-11/12">
    <div class="grid lg:grid-cols-3 gap-8">
        {
            cards.map(
                (card: {
                    data: {
                        badgeTitle: string;
                        cardsTitle: string;
                        cardsContent: string;
                    };
                }) => {
                    const { badgeTitle, cardsTitle, cardsContent } = card.data;
                    return (
                        <article class="rounded-xl bg-white p-4 ring-3 ring-indigo-50 sm:p-6 lg:p-8">
                            <div class="flex items-start sm:gap-8">
                                <div
                                    class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-indigo-500"
                                    aria-hidden="true"
                                >
                                    <div class="flex items-center gap-1">
                                        <span class="h-8 w-0.5 rounded-full bg-indigo-500" />
                                        <span class="h-6 w-0.5 rounded-full bg-indigo-500" />
                                        <span class="h-4 w-0.5 rounded-full bg-indigo-500" />
                                        <span class="h-6 w-0.5 rounded-full bg-indigo-500" />
                                        <span class="h-8 w-0.5 rounded-full bg-indigo-500" />
                                    </div>
                                </div>

                                <div>
                                    <strong class="rounded-sm border border-indigo-500 bg-indigo-500 px-3 py-1.5 text-[10px] font-medium text-white">
                                        {badgeTitle}
                                    </strong>

                                    <h3 class="mt-4 text-lg font-medium sm:text-xl">
                                        <a href="#" class="hover:underline">
                                            {cardsTitle}
                                        </a>
                                    </h3>

                                    <p class="mt-1 text-sm text-gray-700">
                                        {cardsContent}
                                    </p>
                                </div>
                            </div>
                        </article>
                    );
                },
            )
        }
    </div>
</div>
