---
const policy = (await import("../content/policy/policy.json")).default;
---

<section class="container mx-auto">
  <h1 class="text-2xl font-extrabold text-gray-900 sm:text-3xl py-8">
    Política de Privacidad
  </h1>
  <ol class="list-decimal list-inside pl-4">
    {policy.map((item) => <li class="mx-auto text-gray-700 py-2">{item}</li>)}
  </ol>
</section>
