---
const terms = (await import("../content/terms/terms.json")).default;
---

<section class="container mx-auto w-11/12">
  <h1 class="text-2xl font-extrabold text-gray-900 sm:text-3xl py-8">
    Términos y Condiciones
  </h1>
  <ol class="list-decimal list-inside pl-4">
    {
      terms.map((term) => (
        <li class="mb-2 mx-auto text-gray-700 py-2">{term}</li>
      ))
    }
  </ol>
</section>
